---
layout: base.njk
title: "Finansavimas"
---
{% set pg = app.pages.finansavimas %}
<p>{{ pg.lede }}</p>
<div class="grid cols-3">
  {% for opt in pg.options %}
    <div class="card">
      <h3>{{ opt.title }}</h3>
      <p>{{ opt.body }}</p>
    </div>
  {% endfor %}
</div>
<p><a class="btn secondary" href="{{ pg.contact_cta.href }}">{{ pg.contact_cta.label }}</a></p>

