---
layout: base.njk
title: "Kursai"
---
{% set pg = app.pages.kursai %}
<p>{{ pg.intro }}</p>
<div class="grid cols-3">
  {% for card in pg.city_cards %}
    <article class="card">
      <img src="/assets/img/city_{{ card.city | lower }}.jpg" alt="{{ card.image_slot.alt }}">
      <h3>{{ card.city }}</h3>
    </article>
  {% endfor %}
</div>
<p><a class="btn primary" href="{{ pg.cta.href }}">{{ pg.cta.label }}</a></p>

