---
layout: base.njk
title: "Registracija"
---
{% set pg = app.pages.registracija %}
<p>{{ pg.lede }}</p>

<form name="registracija" method="POST" netlify data-netlify="true" netlify-honeypot="bot-field" action="/thanks">
  <input type="hidden" name="form-name" value="registracija">
  <p style="display:none"><label>Don’t fill this out: <input name="bot-field"></label></p>
  {% set fields = pg.formFields or pg.form_fields %}
  {% for f in fields %}
    <p><label>{{ f }}<br><input name="{{ f | slug }}" required></label></p>
  {% endfor %}
  <button class="btn primary" type="submit">Siųsti</button>
</form>

